* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
  background-image: linear-gradient(#5851DB, white, white);
}
/* == heading == */

header {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;

}

h1 {
  color: #5851DB;
  text-align: center;
  font-size: 62px;

}

#begin {
  background-image: radial-gradient(white, #405DE6);
  margin: -25px auto 15px auto;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  width: 80px;
  height: 25px;
  font-size: 14px;
  color: #5851DB;
}

#inst-toggle {
  position: absolute;
  color: white;
  left: 5px;
  top: 5px;
  font-size: 30px;
  cursor: pointer;
}

.instructions {
  text-align: center;
  margin: auto 60px;
  color: white;
}

li {
	list-style-type: none;
}

/* == div player submission == */

.player-submission {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  height: 50vh;
}

#player--one, #player--two {
  text-align: center;
  margin: 0 40vw;
  border-radius: 10px;
  border: none;
  font-size: 16px;
}

#mancala-board {
  height: 50%;
}

#player--two {
  margin-top: 30px;
  margin-bottom: -50px;
}
#player--one {
  background-color: #cac8f3;
}

#start-game {
  margin: 0 46vw;
  border-radius: 10px;
  border: none;
  background-color: #8480e4;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.credit {
  position: absolute;
  width: 100%;
  bottom: 0px;
}

/* == section opponent == */

#opponent {
  background-color: yellow;
  text-align: center;
}

/* ===== GAME BOARD ===== */

/* == total board styel == */
.game-board {
  background-color: orange;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100vw;
}

.hollow {
  display: flex;
  align-content: center;
  justify-content: center;
  border: 2px solid black;
}

.bank {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 200px;
  width: 100px;
  border-radius: 25%;
}

.cup {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 70px;
  width: 70px;
  border-radius: 50%;
  display: inline-block;
}

.counter {
  height: 30px;
  width: 30px;
  border: 2px solid black;
  display: inline-block;
}

/* == board left style ==*/
.board-left {
  background-color: violet;
  width: 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#opponent__bank {

}

#opponent__bank-counter {

}

/* == board right stytle == */
.board-right {
  background-color: lightgreen;
  width: 10vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#player__bank {

}

#player__bank-counter {

}

/* == board middle style == */
.board-middle {
  width: 80vw;
  margin: 0;
}

.opponent__side {
  background-color: blue;
  justify-content: center;
}

.player__side {
  background-color: green;
  justify-content: center;
}

.opponent__cups {
  display: flex;
  justify-content: space-between;
}

.opponent__counters {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.player__counters {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.player__cups {
  display: flex;
  justify-content: space-between;
}


/* == section player == */

#player {
  background-color: pink;
  text-align: center;
}


/*.stone {
  display: flex;
  align-content: center;
  justify-content: center;
}*/
