* {
	box-sizing: border-box;
}

body {
	margin: 0;
	height: 100vh;
}
/* == heading == */

header {
	background-color: #405DE6;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	position: relative;

}

h1 {
	color: #E1306C;
	text-align: center;
	text-shadow: .5px 0 white, 0 .5px white, .5px 0 white, 0 .5px white;
}

#begin {
	background-color: green;
	cursor: pointer;
}

#inst-toggle {
	position: absolute;
	left: 5px;
	top: 5px;
}

/* == section opponent == */

#opponent {
	background-color: yellow;
	text-align: center;
}

/* ===== GAME BOARD ===== */

/* == total board styel == */
.game-board {
	background-color: orange;
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100vw;
}

.hollow {
	border: 2px solid black;
}

.bank {
	height: 200px;
	width: 100px;
	border-radius: 25%;
}

.cup {
	height: 70px;
	width: 70px;
	border-radius: 50%;
	display: inline-block;
}

.counter {
	height: 30px;
	width: 30px;
	border: 2px solid black;
	display: inline-block;
}

/* == board left style ==*/
.board-left {
	background-color: violet;
	width: 10vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#opponent__bank {

}

#opponent__bank-counter {

}

/* == board right stytle == */
.board-right {
	background-color: lightgreen;
	width: 10vw;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#player__bank {

}

#player__bank-counter {

}

/* == board middle style == */
.board-middle {
	width: 80vw;
	margin: 0;
}

.opponent__side {
	background-color: blue;
	justify-content: center;
}

.player__side {
	background-color: green;
	justify-content: center;
}

.opponent__cups {
	display: flex;
	justify-content: space-between;
}

.opponent__counters {
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
}

.player__counters {
	display: flex;
	justify-content: space-between;
	padding: 0 20px;
}

.player__cups {
	display: flex;
	justify-content: space-between;
}


/* == section player == */

#player {
	background-color: pink;
	text-align: center;
}


